.chat-main
  .chat-main__selected-group
    .chat-main__selected-group__info
      .chat-main__selected-group__info__name-fields
        = @group.name
      .chat-main__selected-group__info__members
        = render "group_user"
    .chat-main__selected-group__btn
      = link_to "/groups/#{@group.id}/edit", class: "chat-main__selected-group__btn__set" do
        edit
  .chat-main__message-contents
    = render @messages
  .chat-main__message-area
    = form_with model: [@group, @message], class: "chat-main__message-area__form", local: true do |form|
      .chat-main__message-area__form__contents
        = form.text_field :content, :placeholder => "type a message", class: "chat-main__message-area__form__contents__text"
        %label{class: "chat-main__message-area__form__contents__image far fa-image fa-2x"}
          = form.file_field :image, class: 'hidden_btn'
      = form.submit value="Send" ,class: "chat-main__message-area__form__btn"