.side-bar
  .side-bar__user-name 
    .side-bar__user-name__name-field 
      = current_user.name
    .side-bar__user-name__btns
      = link_to new_group_path, class: "side-bar__user-name__btns__btn" do
        = icon('far', 'edit')
      = link_to "/users/#{current_user.id}/edit", class: "side-bar__user-name__btns__btn" do
        = icon('fas', 'cog')
  .side-bar__group-lists
    - current_user.groups.each do |group|
      .side-bar__group-lists__group-list
        = link_to group_messages_path(group), class: "side-bar__group-lists__group-list__group-tag" do
          .side-bar__group-lists__group-list__group-name
            = group.name
          .side-bar__group-lists__group-list__last-message
            = group.show_last_message